body {
  font-family: 'League Spartan', sans-serif !important;
  background-color: #00000000;
  margin: 0;
  background-color: #eaeaea;
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background: url(https://res.cloudinary.com/pcsolucion/image/upload/v1677139072/named_bg_3.webp) !important;
  background-repeat: round !important;
  background-color: #4f0d4b00 !important;
}

#genesis, .leaderboardG {
  min-width: 490px;
}

.clasemut1, .clasemut2, .clasemut3 {
  margin-left: 7px;
  margin-top: 16px;
  width: 105px;
  height: auto;
  opacity: 0.8;
}

.transicion-tabla {
  transition: opacity 0.5s ease-in-out; /* Define una transición de opacidad de 0.5 segundos */
}

.leaderboardG {
  max-width: 490px;
  width: 100%;
  border-radius: 1px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}

.leaderboardG header {
  --start: 15%;
  height: 130px;
  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgb(67 68 70 / 33%) 10%, rgb(24 24 24 / 33%) 17%), linear-gradient(to right, #1e1f22, #3c3c3c);
  color: #fff;
  position: relative;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
  border-bottom: 1px solid #8a7234;
}

.leaderboardG header .leaderboard__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--start) * .75);
  transform: translateY(-50%);
  text-transform: capitalize;
  margin: 0;
}

.leaderboardG header .leaderboard__title span {
  display: block;
}

.leaderboardG header .leaderboard__title--top {
  font-size: 37px;
  margin-top: 22px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-left: -240px;
  opacity: 0.8;
}

.leaderboardG header .leaderboard__title--bottom {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 3.55px;
  opacity: 0.65;
  transform: translateY(-2px);
}

.leaderboard__title--bottom {
  color: rgb(247 162 45);
  font-weight: 600 !important;
  filter: brightness(1.25) !important;
}

.leaderboard__profiles {
  background-color: #000;
  border-radius: 0 0 2px 2px;
  padding: 5px 5px 15px;
  display: grid;
  row-gap: 8px;
}

.leaderboard__profile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  background-color: #080808;
}

.leaderboard__profile:hover {
  transform: scale(1.2);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

.leaderboard__picture {
  max-width: 100%;
  width: 53px;
  border-radius: 50%;
  box-shadow: rgb(26 20 18) 0px 0px 0px 10px, rgb(0 0 0) 0px 0px 0px 22px;
}

.leaderboard__name {
  color: white;
  font-weight: 600;
  font-size: 29px;
  letter-spacing: 0.64px;
  margin-left: 10px;
}

.leaderboard__value {
  color: #32b78a;
  font-weight: 700;
  font-size: 29px;
  text-align: right;
}

.leaderboard__value > span {
  opacity: 0.8;
  font-weight: 600;
  font-size: 13px;
  margin-left: 3px;
}